body{
    background-color: rgb(241, 239, 239);
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
  }
  div#zoom > img {
    width: 50%;
    height: auto;
    padding-left: 25%;
    padding-top: 2%;
    
  }
.nav{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
button{
    margin: 5px;
}
li{
    list-style: none;
}
.img_area{
    width: 80%;
    height:auto;
    border: 1px dashed ;
    margin-left: 10%;
}
img{
    width: 50%;
    height: auto;

}